<div class="calendar">
    <div class="card border-dark"">
        <h2 class="card-header text-center bg-success" id="monthYear"></h2>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Sun</th>
                <th>Mon</th>
                <th>Tue</th>
                <th>Wed</th>
                <th>Thu</th>
                <th>Fri</th>
                <th>Sat</th>
            </tr>

            </thead>

            <tbody id="calendar-body">

            </tbody>
        </table>

        <div class="btn-group">

            <button class="btn btn-outline-success col-sm-6" id="previousMonth">Previous</button>

            <button class="btn btn-outline-success col-sm-6" id="nextMonth">Next</button>
        </div>

    </div>
</div>