<button id = "btn">Click me</button>
<div class = "timeline">
<div class="flex-parent">
	<div class = "input-line-div" id = "input-line-div">
		<hr class = "input-line">
	</div>
	<div class ="input-flex-container", id = "input-flex-container">
		<div class="input">
			<span data-year="1910" data-info="Contract Executed Date"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Kickoff Date"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Spec Sign Off"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Smoke Testing Start"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Smoke Testing Complete"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Validation Start"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Validation Complete"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="UAT Start"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="UAT Complete"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="GoLive"></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="FPI  "></span>
		</div>
		<div class="input">
			<span data-year="1910" data-info="Start date"></span>
		</div>


		
	</div>

</div>
</div>


