<!--delete button later-->
<div class = "timeline">
<div class="flex-parent">
	<div class ="input-flex-container", id = "input-flex-container">
		<div class="input">
			<b><span data-year="None" data-info="Contract Executed Date"></span></b>
			<div class = "lineBefore", id = "before1"></div>
			<div class = "lineAfter", id = "after1"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Kickoff Date"></span></b>
			<div class = "lineBefore", id = "before2"></div>
			<div class = "lineAfter", id = "after2"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Spec Sign Off"></span></b>
			<div class = "lineAfter", id = "after3"></div>
			<div class = "lineBefore", id = "before3"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Smoke Testing Start"></span></b>
			<div class = "lineAfter", id = "after4"></div>
			<div class = "lineBefore", id = "before4"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Smoke Testing Complete"></span></b>
			<div class = "lineAfter", id = "after5"></div>
			<div class = "lineBefore", id = "before5"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Validation Start"></span></b>
			<div class = "lineAfter", id = "after6"></div>
			<div class = "lineBefore", id = "before6"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Validation Complete"></span></b>
			<div class = "lineAfter", id = "after7"></div>
			<div class = "lineBefore", id = "before7"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="UAT Start"></span></b>
			<div class = "lineAfter", id = "after8"></div>
			<div class = "lineBefore", id = "before8"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="UAT Complete"></span></b>
			<div class = "lineAfter", id = "after9"></div>
			<div class = "lineBefore", id = "before9"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="GoLive"></span></b>
			<div class = "lineAfter", id = "after10"></div>
			<div class = "lineBefore", id = "before10"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="FPI"></span></b>
			<div class = "lineAfter", id = "after11"></div>
			<div class = "lineBefore", id = "before11"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="Start date"></span></b>
			<div class = "lineAfter", id = "after12"></div>
			<div class = "lineBefore", id = "before12"></div>
		</div>
		<div class="input">
			<b><span data-year="None" data-info="End date"></span></b>
			<div class = "lineAfter", id = "after13"></div>
			<div class = "lineBefore", id = "before13"></div>
		</div>


		
	</div>

</div>
</div>


