li {
    display: block;
}
.calendar {
  position: absolute;
  top: 200px;
  left: 650px;
  width: 448px;
}
#monthYear {
  font-size: 24px; 
}
th {
  text-align: center;
  font-size: 12px; 
}
tr {
  height: 64px; 
}
td {
  font-size: 8px; 
  padding: 0px; 
  margin: 0;
  height: 64px; 
  width: 64px;
}
ul {
  margin: 0;
  padding: 0px;
  font-size: 10px;
  text-align: center;
}