li {
    display: block;
}
.calendar {
  position: absolute;
  top: 250px;
  right: 57%;
  width: 448px;
}
#monthYear {
  font-size: 24px; 
}
th {
  text-align: center;
  font-size: 12px; 
}
tr {
  height: 64px; 
}
td {
  font-size: 8px; 
  padding: 0px; 
  margin: 0;
  height: 64px; 
  width: 64px;
}
ul {
  margin: 0;
  padding: 0px;
  font-size: 10px;
  text-align: center;
}

 /*media for index.html*/
@media (min-width: 1375px) and (max-width: 1573px) {
  .calendar{
    right: 56%;
  }
}

@media (min-width: 1208px) and (max-width: 1375px) {
  .calendar{
    right: 55%;
  }
}

@media (min-width: 800px) and (max-width: 1208px) {
  .calendar{
    right: 54%;
  }
}

@media (min-width: 0px) and (max-width: 1094px){
  .calendar{
      left: 50%;
      transform: translateX(-50%);
      top: 895px;
  }
}