   .timeline{
    position: relative;
    top: 70px;
   }

  .flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 100px;
    max-width: 1300px;
    position: relative;
    
  }
  

  /* size of circle */
  .input {
    width: 30px;
    height: 30px;
    background-color: #2C3E50;
    position: relative;
    border-radius: 50%;
  }
  .input:hover {
    cursor: pointer;
  }

  

  /* using divs */
  .lineBefore, .lineAfter{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2C3E50;
    width: 45px;
    height: 5px;
    max-width: 100px;
  }
  

  /* contents above and below */
  .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  
  .input span::before, .input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
  }

  .input span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-48%);
    width: 55px;
    font-size: 13px;
    text-align: center;
    
  }
  .input span::before {
    content: attr(data-info);
    display: inline-block;
    top: -70px;
    transform: translateX(-50%);
    width: 55px;
    height: 20px;
    font-size: 11.5px;
    word-wrap: break-word;
    text-align: center;
  }
  
  @media (min-width: 1615px) {
   
    .input::before {
      left: -35px;
    }
  
    .input::after {
      right: -35px;
    }

    .lineBefore{
      left: -35px;
    }
    .lineAfter{
      right: -35px;
    }

    
  }
  @media(max-width: 1614px) {
   
    .input::before {
      left: calc(-3vw + 12px);
    }
    .input::after {
      right: calc(-3vw + 12px);
    }
    .input{
      width: 27px;
      height: 27px;
    }


    .lineBefore, .lineAfter{
      width: 39px;
    }

    .lineBefore{
      left: calc(-3vw + 12px);
    }
    .lineAfter{
      right: calc(-3vw + 12px);
    }
    
  }
  
  
  @media (max-width: 950px) {
    .input {
      width: 20px;
      height: 20px;
    }
    .input span::before{
      font-size: 10px;
      width: 50px;
      top: -55px;
    }
    

    .input::before {
      left: calc(-3vw + 9px);
    }
    .input::after {
      right: calc(-3vw + 9px);
    }


  .lineBefore{
    left: calc(-3vw + 9px);
  }
  .lineAfter{
    right: calc(-3vw + 9px);
  }

  .lineAfter, .lineBefore{
    width: 30px;
  }

    .input::before, .input::after {
      height: 4.5px;
  }
}


  @media (max-width: 805px) {

    .input::before, .input::after {
      visibility: hidden;
    }

    .lineAfter, .lineBefore{
      visibility: hidden;
    } 

    .flex-parent {
      justify-content: initial;
    }
  
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: auto;
    }
  
    .input {
      width: 70px;
      height: 70px;
      margin: 0 10px 50px;
      background-color: #AEB6BF;
    }
    .input span {
      width: 100%;
      height: 100%;
      display: block;
    }
    .input span::before {
      top: 75px;
      text-indent: 0;
      text-align: center;
      width: 55px;
    }
    .input span::after {
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ECF0F1;
    }
  
  }

  @media (max-width: 400px) {
    body {
      min-height: 950px;
    }
  }
  
  /*media for index.html*/

  @media (min-width: 0px) and (max-width: 1094px){
  .timeline{
    top: 700px;
    margin-bottom: 40em;
  }
}