{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8" />#}
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{#        <title>Login</title>#}
{##}
{#        <link rel="stylesheet" href="/static/login/index.css" />#}
{#    </head>#}

{#    <body>#}
{% extends 'account/base.html' %}

{% block content %}
            <!-- temp_line -->
        <div id="login">
            <div class="signin">
                <div class="title">
                    <p> Sign In</p>
                </div>
                <div class="userinfo">
                    <div class="useremail">
                        <input type="email" name="email" id="email" placeholder="email">
                    </div>
                    <div class="userpassword">
                        <input type="password" name="password" id="password" placeholder="password">
                    </div>
                </div>
                <div class="button">
                    <button type="submit" class="sub"> login</button>
                    <button class="pw"> Forgot PW?</button>
                </div>

            </div>
        </div>

        <section id="bottominfo">
            <div class="info">
                <div class="icon">
                    <div class="twitter">
                        <a style="text-decoration: none;" href="https://github.com/">
                            <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                            <img class="twitter_icon" src="/static/login/image/twitter.svg" alt="twitter">
                        </a>
                    </div>
                    <div class="facebook">
                        <a style="text-decoration: none;" href="https://github.com/">
                            <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                            <img class="facebook_icon" src="/static/login/image/facebook.svg" alt="facebook">
                        </a>
                    </div>
                    <div class="google">
                        <a style="text-decoration: none;" href="https://github.com/">
                            <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                            <img class="google_icon" src="/static/login/image/google.svg" alt="google">
                        </a>
                    </div>
                    <div class="instagram">
                        <a style="text-decoration: none;" href="https://github.com/">
                            <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                            <img class="instagram_icon" src="/static/login/image/instagram.svg" alt="instagram">
                        </a>
                    </div>

                </div>
                <div class="lefttext">
                    <div class="text">
                        <p> Contact</p>
                        <p> About Us</p>
                        <p> Terms & Conditions</p>
                    </div>
                </div>
                <div class="righttext">
                    <div class="faq">
                        <p> Careers</p>
                        <p> Change country</p>
                        <p> FAQ </p>
                    </div>
                </div>

            </div>
        </section>
{% endblock %}

{#    </body>#}
{##}
{##}
{#  <!-- <script type="text/javascript">#}
{#    new Action({});#}
{#  </script> -->#}
{##}
{##}
{#</html>#}