{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8" />#}
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0" />#}
{#        <title>Login</title>#}
{##}
{#        <link rel="stylesheet" href="/static/login/index.css" />#}
{#    </head>#}

{#    <body>#}
{% extends 'account/base.html' %}

{% block content %}
        
    <br>
    <br>
    <h1>&nbsp;&nbsp;&nbsp;4G Clinical</h1>

    <div class="outerbox">

        <div class="box">
            <iframe src="/jira" width="45%" height="512" align="left" style="padding:20px; border: 1px blue"></iframe>
        </div>

        <div class="box">
            <iframe src="/slack/displaymessages.html" width="45%" height="512" align="left" style="padding:20px; border: 1px blue"></iframe>
        </div>

        <br>
        <br>

        <div class="box">
            <iframe src="https://www.urbandictionary.com/"  width="90%" height="512" align="center" style="padding:20px; border: 1px blue"></iframe>
        </div>
    </div>

    <br>

    <section id="bottominfo" style="position: relative ">
        <div class="info">
            <div class="icon">
                <div class="twitter">
                    <a style="text-decoration: none;" href="https://github.com/">
                        <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                        <img class="twitter_icon" src="/static/login/image/twitter.svg" alt="twitter">
                    </a>
                </div>
                <div class="facebook">
                    <a style="text-decoration: none;" href="https://github.com/">
                        <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                        <img class="facebook_icon" src="/static/login/image/facebook.svg" alt="facebook">
                    </a>
                </div>
                <div class="google">
                    <a style="text-decoration: none;" href="https://github.com/">
                        <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                        <img class="google_icon" src="/static/login/image/google.svg" alt="google">
                    </a>
                </div>
                <div class="instagram">
                    <a style="text-decoration: none;" href="https://github.com/">
                        <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                        <img class="instagram_icon" src="/static/login/image/instagram.svg" alt="instagram">
                    </a>
                </div>

            </div>
            <div class="lefttext">
                <div class="text">
                    <p> Contact</p>
                    <p> About Us</p>
                    <p> Terms & Conditions</p>
                </div>
            </div>
            <div class="righttext">
                <div class="faq">
                    <p> Careers</p>
                    <p> Change country</p>
                    <p> FAQ </p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{#    </body>#}
{##}
{##}
{#  <!-- <script type="text/javascript">#}
{#    new Action({});#}
{#  </script> -->#}
{##}
{##}
{#</html>#}
