{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#    <head>#}
{#        <meta charset="UTF-8" />#}
{#        <meta http-equiv="X-UA-Compatible" content="IE=edge" />#}
{#        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>#}
{#        <title>Login</title>#}
{##}
{#        <link rel="stylesheet" href="/static/login/index.css" />#}
{#    </head>#}

{#    <body>#}
{% extends 'account/base.html' %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />

    <!--Centered w/ bootstrap-->
    <div class="text-center">
        <h2>4G Clinical</h2>
    </div>

    <!--loads slack iframe-->
    
        <div class="slack">
            <iframe class = "slackWindow" src="/slack/slack.html"></iframe>
            <link rel="stylesheet" href="/static/slack/slackIndex.css">
        </div>
  
   


    <!--ORDER MATTERS(dropdown, timeline, then calendar)-->

    <!--loads dropdown-->
    {% load static %}
    <link rel="stylesheet" href="/static/dropdown/dropdownIndex.css">
    <script type="module" src="/static/dropdown/dropdown.js" defer></script>
    {% include 'html_objects/dropdown.html' %}
    
    <!--loads timeline-->
    {% load static %}
    <link rel="stylesheet" href="/static/timeline/timelineIndex.css">
    <script type="module" src="/static/timeline/timeline.js" defer></script>
    {% include 'html_objects/timeline.html' %}

    <!--loads calendar-->
    {% load static %}
    <link rel="stylesheet" href="/static/calendar/calendarIndex.css">
    <script type="module" src="/static/calendar/calendar.js" defer></script>
    {% include 'html_objects/calendar.html' %}
    


    <section id="bottominfo">
        <div class="info">
            <div class="icon">
                <div class="twitter">
                    <a style="text-decoration: none;" href="https://twitter.com/4gclinical">
                        <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                        <img class="twitter_icon" src="/static/login/image/twitter.svg" alt="twitter">
                    </a>
                </div>
                <div class="facebook">
                    <a style="text-decoration: none;" href="https://www.facebook.com/4gclinical/">
                        <!-- <iframe src="/static/login/image/github.svg" frameborder="0"></iframe> -->
                        <img class="facebook_icon" src="/static/login/image/facebook.svg" alt="facebook">
                    </a>
                </div>
            </div>
            <div class="lefttext">
                <div class="text">
                    <p> Contact</p>
                    <p> About Us</p>
                    <p> Terms & Conditions</p>
                </div>
            </div>
            <div class="righttext">
                <div class="faq">
                    <p> Careers</p>
                    <p> Change country</p>
                    <p> FAQ </p>
                </div>
            </div>

        </div>
    </section>
{% endblock %}

{#    </body>#}
{##}
{##}
{#  <!-- <script type="text/javascript">#}
{#    new Action({});#}
{#  </script> -->#}
{##}
{##}
{#</html>#}
