{% extends 'account/base.html' %}

{% block content %}


    <div class="text-center">
        <h2>Jira Implementation</h2>
    </div>
    
    <!--loads timeline-->
    {% load static %}
    <link rel="stylesheet" href="/static/timeline/timeline.css">
    <script type="module" src="/static/timeline/timeline.js" defer></script>
    {% include 'html_objects/timeline.html' %}

    <!--loads searchbar-->



    <!--loads dropdown-->
    {% load static %}
    <link rel="stylesheet" href="/static/dropdown/dropdown.css">
    <script type="module" src="/static/dropdown/dropdown.js" defer></script>
    {% include 'html_objects/dropdown.html' %}


{% endblock %}

